.hero {
  background-image: url('../../assets/images/hero.jpg');
  background-size: cover;
  padding: 100px 0 150px;
  margin-bottom: 20px;
  &Inner {
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
