.btn {
  background: var(--accent_color);
  border-radius: var(--border_radius);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: none;
  color: #ffffff;
  border: none;
  min-width: 233px;
  text-align: center;
  height: 57px;
  cursor: pointer;
  transition: opacity var(--transition_duration),
    transform var(--transition_duration);
  &_outlined {
    background: transparent;
    border: 1px solid var(--accent_color);
    color: var(--accent_color);
  }
}

.btn:hover {
  transform: scale(1.02);
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.8;
}
