.movieDetails {
  position: relative;
  z-index: 500;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
    position: relative;
  }
  &__closeBtn {
    position: absolute;
    bottom: calc(100% + 40px);
    right: 15px;
    background: none;
    border: none;
  }
  &__image {
    grid-column: 1 / span 1;
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
  }
  &__info {
    grid-column: 2 / -1;
  }
  &__header {
    display: flex;
    align-items: center;
    & > .movieDetails__title {
      margin-bottom: 0;
    }
  }
  &__rating {
    margin-left: 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--white);
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    flex-shrink: 0;
  }
  &__genres {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: var(--white);
    opacity: 0.5;
    margin-bottom: 30px;
  }
  &__stats {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--accent_color);
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
  }
  &__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
    opacity: 0.5;
  }
}
